extends layout

include mixins/_reviewForm
include mixins/_review

block content
  .single
    .single__hero
      img.single__image(src=`/uploads/${store.photo || 'store.png'}`)
      h2.title.title--single
        a(href=`/store/${store.slug}`) #{store.name}

  .single__details.inner
    img.single__map(src=h.staticMap(store.location.coordinates))
    p.single__location= store.location.address
    
      p <strong> Meals </strong> 
      p #{store.meal} 
      br
      p <strong> Cusine </strong>  
      p #{store.cusine}  
      br 
      p <strong>Price</strong> 
      p #{store.price}
      br
      p <strong>Good For</strong> 
      p #{store.goodFor}  
      br
      p <strong>Features</strong> 
      p #{store.features}
      br
      p <strong>Description</strong>
      p= store.description
     
    if store.tags
      ul.tags
        each tag in store.tags
          li.tag
            a.tag__link(href=`/tags/${tag}`)
              span.tag__text  ##{tag}

    if user
      +reviewForm(store)

    if store.reviews
      .reviews
        each review in store.reviews
          .review
            +review(review)
