extends admin
block content
  h1 UserList

  
  #table-wrapper
      table#desc
        tr
          th username
          th email
          th isAdmin
          th make Admin 
          th remove Admin
        each user in users
          tr
            td= user.name
            td= user.email
            td= user.isAdmin
            td 
           
                
                 a(onclick="return confirm('Are you sure?')" href=`users/${user._id}/grant`).green Grant
            td
                 a(onclick="return confirm('Are you sure?')" href=`users/${user._id}/revoke`).red Revoke
           

          
    
  
    
