
mixin storeForm(store = {})
  form(action=`/add/${store._id || ''}` method="POST" class="card" enctype="multipart/form-data")
    pre= h.dump(store)
    label(for="name") Name
    input(type="text" name="name" value=store.name)
    label(for="description") Description
    textarea(name="description")= store.description
    //- Image Upload
    label(for="photo") Photo
      input(type="file" name="photo" id="photo" accept="image/gif, image/png, image/jpeg")
      if store.photo
        img(src=`/uploads/${store.photo}`, alt=store.name width=200)
    //- address, lng and lat
    label(for="address") Address
    input(type="text" id="address" name="location[address]" value=(store.location && store.location.address))
    label(for="lng") Address Lng
    input(type="text" id="lng" name="location[coordinates][0]" value=(store.location && store.location.coordinates[0]) required)
    label(for="lat") Address Lat
    input(type="text" id="lat" name="location[coordinates][1]" value=(store.location && store.location.coordinates[1]) required)
    label(for="price") Average prices
    input(type="text" id="price" name="price" value=(store.price) required)
    label(for="cusine") Cusine
    input(type="text" id="cusine" name="cusine" value=(store.cusine) required)
    label(for="meals") Meals
    input(type="text" id="meals" name="meals" value=(store.meal) required)
    label(for="feat") Resturant features
    input(type="text" id="feat" name="feat" value=(store.features) required)
    label(for="goodfor") Good For
    input(type="text" id="goodfor" name="goodfor" value=(store.goodFor) required)
    label(for="open") Description
    textarea(name="open")= store.description
    - const choices = ['Wifi', 'Open Late', 'Family Friendly', 'Vegatarian', 'Licensed']
    - const tags = store.tags || []
    ul.tags
      each choice in choices
        .tag.tag__choice
          input(type="checkbox" id=choice value=choice name="tags" checked=(tags.includes(choice)))
          label(for=choice) #{choice}
    input(type="submit" value="Save →" class="button")
